@import 'node_modules/bootstrap/scss/bootstrap';

.standard{
    transition: background-color 0.5s;
    background-color: var(--bs-body-bg);
}
.dark{
    background-color: black;
    transition: background-color 0.5s;
    color: aliceblue !important;
}
body{
    transition: background-color 0.5s;
    background-color: var(--bs-body-bg);
}
.dark .table{
    --bs-table-color: aliceblue !important;
}
.sidebar:hover{
    
    transform: scale(101%);
    width: max(16.66666667%,210px);
    backdrop-filter: blur(15px);
    transition-property: width ,transform,backdrop-filter;
    transition-duration:  0.2s;

}

.sidebar:hover .section-text{
    display: block !important; 
}

.section:hover{
    transform: scale(103%);
    transition: transform 0.2s;
    opacity: 1;
}

.section{
    opacity: 0.7;
    transition: transform 0.1s;
}

.left-side:hover{
    transform: scale(101%);
    transition: transform 0.2s;
}


.left-side{
    transition: transform 0.2s;
}

.right-side:hover{
    transform: scale(101%);
    transition: transform 0.2s;
}


.right-side{
    transition: transform 0.2s;
}


.darkswitch .bg{
    left: 5%;
    transition: left 0.1s;
}


.lightswitch .bg{
    transition: left 0.1s;

    left: 50%;
}
.blur{
    backdrop-filter: blur(13px);
    background-color: rgba(219, 225, 231, 0.5);
}
.dark .blur{
    background-color: rgba(28, 29, 29, 0.5);

}
.blur-active{
    opacity: 1;
    transition: opacity 0.2s;
}

.blur-disabled{
    opacity: 0;
    
    transition: opacity 0.2s;

}

.cours-card:hover{
    transform: scale(101%);
    transition: transform 0.2s;
}

.cours-card{
    transition: transform 0.2s;
    background:linear-gradient(120deg, #1EAEEB 50%, #0391CE )
}

.dark .cours-card{
    background: rgba(0, 50, 72, 0.521);
    
}

.icon{
    fill: #003348;
}
.dark .icon{
    fill:#ffffff;
}

.background{
    background: rgba(255,255,255,0.8);
    
}


.dark .background{
    background: rgba(255, 255, 255, 0);
    background-image: radial-gradient(circle at 0px 0px, rgba(255,255,255,0.30), rgba(255,255,255,0.06));
}

.glass{
    background-color: rgba(255, 255, 255, 0.5);
}
.dark .glass{
    background-color: rgba(108, 106, 106, 0.3);

}

.text{
    color: #003348;
}

.dark .text{
    color: rgb(255, 255, 255);
}

.border{
    border: solid 1px rgba(255,255,255,0.15) !important;
}

.specefic .general-information{
    display: none;
}

.general .specefic-information{
    display: none;
}

.student .no-student{
    display: none !important; 
}

.student-info{
    display: none;
}
.student .student-info{
    display: unset;
}


.progress-bar{
    border: 2px solid #003348;
    width: 350px;
    height: 30px;
    border-radius: 10px;
    position: relative;
}
.dark .progress-bar{
    border: 2px solid #ffffff;

}
.progress-block{
    width: 10%;
    height: 100%;
    border-right: 2px solid #003348;
    z-index: 10;
}
.dark .progress-block{
    
    border-right: 2px solid #ffffff;
    
}
.payment-bar{
    position: absolute;
    width: 100%;
    height: 100%;
}
.presence-bar{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 7;
}
.payment-block{
    width: 10%;
    height: 100%;
    background: #003348 ;
    
}

a{
    text-decoration: none;
}
a:hover{
    color: unset;
}

.half-opacity{
    opacity: 0.5;
}

.invisible{
    transition: all 0.2s ;
    
}